.contactForm {
  background-image: url('https://img.freepik.com/free-photo/mid-century-modern-living-room-interior-design-with-monstera-tree_53876-129803.jpg?ga=GA1.1.682219552.1730314102&semt=ais_hybrid');
  background-size: cover;
  background-position: center;
  padding: 3rem;
  border-radius: 8px;
  font-family: serif;
  color: #1a202c;
}

.contactForm h1 {
  font-size: 2.5rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 1rem;
}

.contactForm p {
  font-size: 1.125rem;
  color: #4a5568;
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
}

.contactForm .form-input {
  border: 2px solid #edf2f7;
  background-color: #edf2f7;
  padding: 0.8rem;
  border-radius: 4px;
}

.contactForm button {
  background-color: #79671f;
  color: white;
  padding: 1rem 3rem;
  font-size: 1rem;
  border-radius: 4px;
  cursor: pointer;
}

.contactForm button:hover {
  background-color: #010310;
}

.contactForm .social-icons svg {
  margin: 0 10px;
  width: 20px;
  height: 20px;
  fill: #4a5568;
  cursor: pointer;
}

.contactForm .social-icons svg:hover {
  fill: #1a202c;
}

/* Responsive adjustments */
@media (max-width: 1024px) {
  .contactForm h1 {
    font-size: 2rem;
  }
  .contactForm p {
    font-size: 1rem;
  }
}

@media (max-width: 768px) {
  .contactForm {
    padding: 2rem;
  }
  .contactForm h1 {
    font-size: 1.75rem;
  }
  .contactForm p {
    font-size: 0.9rem;
  }
}

@media (max-width: 480px) {
  .contactForm {
    padding: 1.5rem;
  }
  .contactForm h1 {
    font-size: 1.5rem;
  }
  .contactForm p {
    font-size: 0.85rem;
  }
  .contactForm button {
    padding: 0.8rem 2rem;
    font-size: 0.9rem;
  }
}
